<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply card</title>
</head>
<body>
    <form action="/home/card/applycard" method="post">
        <label for="curpin">Card Pin</label>
        <input type="text" name="curpin" id="curpin">
        <br><br>
        <input type="radio" name="type" id="type" value="type1">
        <label for="type1">Type1</label>
        <input type="radio" name="type" id="type" value="type2">
        <label for="type2">Type2</label>
        <input type="radio" name="type" id="type" value="type3">
        <label for="type3">Type3</label><br>
        <input type="submit" value="Apply">
    </form>
</body>
</html>