<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Control</title>
</head>
<body>
    <button onclick="location.href='http://localhost:3000/home/card/add'">Add card</button>
    <button onclick="location.href='http://localhost:3000/home/card/virtualcard'">Virtual card</button>
    <button onclick="location.href='http://localhost:3000/home/card/resetpin'">Reset pin</button>
    <button onclick="location.href='http://localhost:3000/home/card/setlimit'">Set Limit</button>
    <button onclick="location.href='http://localhost:3000/home/card/applycard'">Apply card</button>
</body>
</html>