<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Statement</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.scss">
</head>

<body>
    <div class="flex flex-col min-h-screen overflow-hidden">

        <%- include('partials/header'); %>
        <main class="flex-grow">

            <section class="bg-gradient-to-b from-gray-100 to-white">
                <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20 text-center">

                        <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                            <h1 class="h1">Payee Management</h1>
                        </div>
                        <div class="flex flex-wrap -mx-3 mt-6">
                            <div class="w-full px-3">
                                <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-6/12" type="submit" onclick="location.href='http://localhost:3000/home/managepayee/addpayee'">Add Payee</button>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mt-6">
                            <div class="w-full px-3">
                                <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-6/12" type="submit" onclick="location.href='http://localhost:3000/home/managepayee/viewpayee/getdata'">View Payee</button>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mt-6">
                            <div class="w-full px-3">
                                <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-6/12" type="submit" onclick="location.href='http://localhost:3000/home/managepayee/updatepayee/getdata'">Update Payee</button>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mt-6">
                            <div class="w-full px-3">
                                <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-6/12" type="submit" onclick="location.href='http://localhost:3000/home/managepayee/deletepayee/getdata'">Delete Payee</button>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </section>

        </main>

    </div>
</body>

</html>