<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
</head>

<body>
    <form action="/admin/reports/download" method="post">
        <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-1/6" type="submit" name="report" value="crep">Consumer report</button>
        <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-1/6" type="submit" name="report" value="prep">Payee report</button>
        <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-1/6" type="submit" name="report" value="trep">Transaction report</button>
        <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-1/6" type="submit" name="report" value="arep">Account report</button>
    </form>
</body>

</html>