<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request sent</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.scss">
</head>

<body>
    <div class="flex flex-col min-h-screen overflow-hidden">
        <main class="flex-grow">

            <section class="bg-gradient-to-b from-gray-100 to-white">
                <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20">

                        <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                            <h1 class="h1" style="font-size:60px;">Request Sent Successful.<br>Have a nice day.</h1>
                        </div>

                    </div>
                </div>
            </section>

        </main>

    </div>
    <script>
        window.setTimeout(function () {
                window.location.href = 'http://localhost:3000/';
            }, 2000);
    </script>
</body>

</html>